@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.oxygenHoverWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;

  section {
    h2 {
      font-size: 6em;
      text-align: center;
      cursor: pointer;

      span {
        position: relative;
        display: inline-flex;
        color: #03a9f4;

        &:nth-child(odd) {
          letter-spacing: -1em;
          color: #414141;
          line-height: 1em;
          overflow: hidden;
          transition: 0.5s ease-in-out;
        }

        &:nth-child(2) {
          margin-right: 10px;

          &::after {
            content: '2';
            position: absolute;
            bottom: 0;
            right: -10px;
            font-size: 0.35em;
          }
        }
      }

      &:hover span:nth-child(odd) {
        letter-spacing: 0;
      }

      i {
        position: absolute;
        transform: translateX(-50%);
        font-size: 18px;
        color: #777;
        font-weight: 400;
        font-style: initial;
        line-height: 1em;

        &::before {
          content: 'Oxygen';
          position: absolute;
          text-align: center;
          width: 100%;
          display: initial;
          transition: 0.5s;
        }

        &::after {
          content: 'Helping India Breathe Again';
          opacity: 0;
          visibility: hidden;
          transition: 0.5s;
        }
      }

      &:hover i::before {
        opacity: 0;
        letter-spacing: 2em;
      }

      &:hover i::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
